# requirements.txt  (CPU wheels + smaller OpenCV)
# torch==2.2.0
# torchvision==0.17.0
--extra-index-url https://download.pytorch.org/whl/cpu

torch==1.13.1+cpu
torchvision==0.14.1+cpu
opencv-python-headless       # ∼28 MB instead of 63 MB
pillow
flask
gunicorn                     # WSGI server for Heroku
numpy==1.25.2